@font-face {
    font-family: 'Bello Script';
    src: url('/fonts/bello_script.eot');
    src: url('/fonts/bello_script.eot?#iefix') format('embedded-opentype'), url('/fonts/bello_script.svg#Bello Script') format('svg'), url('/fonts/bello_script.woff') format('woff'), url('/fonts/bello_script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
 * Element definitions
 */
body {
  padding: 0;
  // font-family: source-sans-pro, Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #ECF0F1;
}

.container{
    width: 100%;
}

.dashboard-row{
    height: 100%;
}

aside{
    padding: 15px 15px 15px 15px;
    background: #34495E;
    color: #fff;
    height: 100%;
    
    h1{
        text-align:center;
        margin-top: 0;
    }
}

.bello{
    font-family: 'Bello Script';
}

a {
  color: #288edf;
}

/*button {
  background-color: #083;
  border: outset 1px #0c8;
  color: #fff;
  border-radius: 6px;
  padding: 2px;
}*/

/*
 * Class definitions
 */
.active {
  font-weight: bold;
}
.block {
  margin-bottom: 1.2em;
}
.centered {
  text-align: center;
}

.delete {
  color: #eee;
  display: inline-block;
  float: right;
  cursor: pointer;
  
  i{
    position: relative;
    left: 2px;
  }
  
  &:hover i{
    opacity: 1;
  }
}

.frameWrapper {
  height: 100%;
}
.hint {
  font-style: oblique;
  color: #27AE60;
}
.hScope {
  height: 100%;
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-list li {
  font-weight: 300;
  font-size: 1em;
  padding: 1.5rem 1.5rem;
  cursor: pointer;
  background: #95A5A6;
  border-top: 2px solid #7F8C8D;
  
  transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  -webkit-transition: background-color 0.25s ease;
  
  span{
      font-size: 1em;
  }
  
  i{
    opacity: 0.2;
  }
  
  &:first-child{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-top-width: 0px;
  }
  
  &:last-child{
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: 5px solid #7F8C8D;
  }
  
  &:hover{
      background: #7F8C8D;
  }
  
  &:hover i{
    opacity: 0.6;
  }
}

.workspace {
  border: none;
}

.workspace-wrapper {
  height: 100%;
  padding: 0 1em;
  background: #FFF;
}


.workspace-bar{
    background: #2C3E50;
    padding: 1em;
    margin: 0em -1em 2em -1em;
}

.workspace-form-footer{
    padding-top: 1rem;
    margin-top: 2rem;
    text-align: right;
}

header{
    position: relative;
    margin-top: -1em;
    margin-left: -1em;
    margin-right: -1em;
    padding: 2em 1em;
    background-color: #34495E;
  
    h1 {
        font-weight: 100;
        margin: 10px 0 15px;
        font-size: 2rem;
        position: relative;
        display: inline-block;
        padding-right: 10px;
        color: #fff;
        
        span{
            color: #aaa;
        }
    }
}

.loading-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(44,62,80);
    color: #fff;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -73px;
        margin-top: -18px;
    }
}

.no-workspace{
    color: #BDC3C7;
    padding: 2rem;
    border-radius: 10px;
    width: 41em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -173px;
    margin-left: -370px;
    
    h1{
        font-weight: normal;
        margin: 0 0 1rem 0;
    }
    
    .block{
        font-size: 1em;
    }
}

.login-row{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -125px;
    margin-left: -291.5px;
}

.login-col{
    width: 583px;
    height: 171px;
}

.login-title{
    font-size: 6rem;
    font-weight: normal;
}

.login-button{
    //font-size: 1.25rem;
    //padding: 1rem;
}

.workspace-iframe{
    height: 100%;
    padding: 0;
    margin: 0 -1em;
}

.panel{
    padding: 2rem;
}