/*
 * Element definitions
 */
body {
  box-sizing: border-box;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #f0f0f0;
}
a {
  color: #288edf;
}
aside {
  min-width: 200px;
  width: 200px;
  float: left;
}
button {
  background-color: #083;
  border: outset 1px #0c8;
  color: #fff;
  border-radius: 6px;
  padding: 2px;
}
/*
 * Class definitions
 */
.active {
  font-weight: bold;
}
.block {
  margin-bottom: 1.2em;
}
.centered {
  text-align: center;
}
.delete {
  font-weight: bold;
  color: #600;
  display: inline-block;
  float: right;
  font-size: 1.5em;
  line-height: 0.75em;
  baseline-shift: 10em;
}
.frameWrapper {
  height: 100%;
}
.hint {
  font-style: oblique;
  color: #083;
}
.hScope {
  height: 100%;
}
.menu-list {
  margin: 0;
  padding: 0px 0;
  list-style-type: none;
}
.menu-list li {
  font-weight: bold;
  padding: 5px 4px 2px 4px;
  border-bottom: 1px dashed #083;
}
.menu-list li:before {
  content: "▹";
  padding-right: 4px;
}
.workspace {
  border: none;
}
.workspace-wrapper {
  margin-left: 200px;
  height: 100%;
}
