<aside>
  <p class="centered"><button class="topcoat-button--cta" ng-click="createWorkspace()">Create workspace</button></p>
  <ul class="menu-list">
    <li ng-repeat="workspace in workspaces" ng-class="{active: currentWorkspace.name == workspace.name}">
      <a href="" title="DELETE this workspace irreversibly!" ng-click="deleteWorkspace(workspace.name)" class="delete">☠</a>
      <a href="" ng-click="runWorkspace(workspace.name)">{{workspace.name}}</a>
    </li>
  </ul>
</aside>
<div class="workspace-wrapper">
    <header>
        <h1>Workspace: {{currentWorkspace.name}}</h1>
    </header>
    <section class="workspace-bar">
        <a href="{{currentWorkspace.url}}" class="topcoat-button--large--cta green-button">Start Editing</a>
    </section>
</div>
