<aside>
  <p class="centered"><button class="topcoat-button--cta" ng-click="createWorkspace()">Create workspace</button></p>
  <ul class="menu-list">
    <li ng-repeat="workspace in workspaces" ng-class="{active: currentWorkspace.name == workspace.name}">
      <a href="" title="DELETE this workspace irreversibly!" ng-click="deleteWorkspace(workspace.name)" class="delete">☠</a>
      <a href="" ng-click="runWorkspace(workspace.name)">{{workspace.name}}</a>
    </li>
  </ul>
</aside>
<div class="workspace-wrapper">
  <iframe class="workspace" src="{{currentWorkspace.url}}" width="100%" height="100%"></iframe>
</div>
